.App {
  width: 100%;
  position: relative;
  height: 100%;
}

body {
  background-color: #1e2126; 
  /* padding: 0px;
  margin: 0px; */
}
.App-header{
  display: block;
}

.search-bar {
  background-color: #282c34;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  color: white;
  position: fixed;
  top: 0px;
  box-shadow: #42ac04 0px -2px 8px 1px;

}

.name, .input, .search-button{
  width: 20%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  text-align: center;
} 

.input{
  width: 65%;
}

.name{
  background: #42ac04;
  font-weight: bolder;
  font-size: 18px;
  display: inline-flex;
}

P.go:first-letter {
  font-size: 55px;
  font-family: 'Courier New', Courier, monospace;

}

.search-button{
  width: 20%;
  background-color: #42ac04;
  border-radius: 0px 5px 5px 0px;
}

.search{
  width: 100%;
  height: 90%;
  color: #42ac04;
  border-color: #42ac04;
  border-top: 2px solid #42ac04;
  border-bottom: 2px solid #42ac04;
  font-size: 20px;
  background: transparent;
}

.button-main{
  width: 100%;
  height: 100;
  background-color: #43ae04;
  border: none;
  outline: none;
}

.button-main:hover{
  background-color: #42ac04;
}

.search::placeholder{
  color: #42ac04;
  text-align: center;
  font-size: 18px;
  opacity: 0.6;
}

.drop-down{
  padding-top: 80px;
  position: fixed;
  height: 50px;
  
}

.drop-down-main{
  background-color: #43ae04;
  height: 100%;
  width: 130px;
  border-radius: 10px;
  font-size: 14px;

}


.error{
  display: block;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 200px 10px;
  color: #add8b6;
  font-size: 15px;
} 

.retry-btn{
  background-color: #42ac04;
  color: #282c34;
  font-weight: bold;
  font-size: 20px;
  border: none;
  padding: 20px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  border-radius: 18px;
}